page-home {
  .homePage{
    background-image: url("../../assets/imgs/mmo_fond.jpg");
  }

  .playerIcon {
    position:absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    margin-top: -100px;
  }
}
